<?xml version='1.0' encoding='windows-1252'?>
<!--
  FlowDB v0.2.0 WiX Installer Definition
  Product:    FlowDB - FlowQL Database Engine
  Licensor:   Ajaikumar, ForNexus (https://fornexus.tech)
  License:    Business Source License 1.1  (BUSL-1.1)
  Built with: cargo wix
-->

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='FlowDB'
        UpgradeCode='E8CAA965-1AFD-41BC-B2EA-64F8731196C6'
        Manufacturer='Ajaikumar, ForNexus'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='FlowDB v0.2.0 - High-performance database engine with FlowQL query language'
            Manufacturer='Ajaikumar, ForNexus'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='FlowDB Installation'/>

        <Property Id='ARPHELPLINK' Value='https://fornexus.tech'/>
        <Property Id='ARPURLINFOABOUT' Value='https://fornexus.tech'/>
        <Property Id='ARPCONTACT' Value='flowdb.license@gmail.com'/>
        <Property Id='ARPCOMMENTS' Value='FlowDB is a high-performance embedded database engine with the FlowQL query language. Free 30-day production trial. Commercial licenses from $500/yr.'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='FlowDB'>

                    <Component Id='License' Guid='B3F2A981-44DC-4E2B-9C3D-7A1B6E5F0D82'>
                        <File Id='LicenseFile'
                              Name='LICENSE'
                              DiskId='1'
                              Source='LICENSE'
                              KeyPath='yes'/>
                    </Component>

                    <Component Id='Documentation' Guid='C4E3B092-55ED-4F3C-AD4E-8B2C7F6A1E93'>
                        <File Id='DocFile'
                              Name='FlowDB_Documentation.docx'
                              DiskId='1'
                              Source='FlowDB_Documentation.docx'
                              KeyPath='yes'/>
                    </Component>

                    <Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='AD19F86C-CD1C-4DC2-BA1C-6D7DA5B1D5B0' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>
                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='flowdb-repl.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\flowdb-repl.exe'
                                KeyPath='yes'/>
                        </Component>
                        <Component Id='binary1' Guid='*'>
                            <File
                                Id='exe1'
                                Name='flowdb-server.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\flowdb-server.exe'
                                KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='FlowDB Application'
            Description='Installs the FlowDB server, REPL, license, and documentation.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='License'/>
            <ComponentRef Id='Documentation'/>
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='binary1'/>

            <Feature
                Id='Environment'
                Title='Add to PATH'
                Description='Add the FlowDB install folder to the PATH environment variable so flowdb-server and flowdb-repl can be called from any terminal.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\LICENSE.rtf'/>

    </Product>

</Wix>